@import "tailwindcss";
@font-face {
  font-family: oran;
  src: url(/oran.ttf);
}
@font-face {
  font-family: nycd;
  src: url(/nycd.ttf);
}
@font-face {
  font-family: poppins;
  src: url(/poppins.otf);
}
body{
  background: #F9F2E0;
}